body {
    background-color: rgba(188, 240, 188, 0.774);
}
.container {
    box-sizing: border-box;
}

#buttons-view {
    width: 100%;
    background-color: peru;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form {
    width: 30%;
    float: right;
    height: 40%;
    font-size: 30px;
}

#gif-here {
    width:70%;
    float: right;
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    
}

#add-feeling {
    background-color: peru;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}